<!-- @begin -->
<nav id="main-menu">
  <ul class="sf-menu grid_12">
    <!-- @@nextlevel -->
    <ul>
<!-- @link -->
<li><a href="#">первый уровень<span class="indicator">&nbsp;</span></a>
    <!-- @@nextlevel -->
		<li><ul><li><a href="#">второй уровень</a>
<!-- @activelink -->
<li><a href="%link%" title="%name_value%"><b>%name_value% (%cat_items_count%)</b></a>
    <!-- @@nextlevel -->
<li><a href="%link%" title="%name_value%"><b>%name_value% (%cat_items_count%)</b></a>
<!-- @passiveactive -->
<li><a href="%link%" title="%name_value%"><b>%name_value% (%cat_items_count%)</b></a>
    <!-- @@nextlevel -->
<li><a href="%link%" title="%name_value%">%name_value% (%cat_items_count%)</a> 
<!-- @end -->
  </ul>
</nav>
    <!-- @@nextlevel -->
    </li></ul></li></ul>
<!-- @delimiter -->
</li>



<nav id="main-menu">
  <ul class="sf-menu grid_12">
    <li>
      <a href="#">
        первый уровень
        <span class="indicator">
          &nbsp;
        </span>
      </a>
      <ul>
        <li>
          <ul>
            <li>
              <a href="#">
                второй уровень
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav> 

<!-- @begin -->
<div id="smoothmenu1" class="ddsmoothmenu">
<ul>
<li><a href="/">Главная</a></li>
    <!-- @@nextlevel -->
    <ul>
<!-- @link -->
<li><a href="%link%" title="%name_value%">%name_value% (%cat_items_count%)</a> 
    <!-- @@nextlevel -->
<li><a href="%link%" title="%name_value%">%name_value% (%cat_items_count%)</a> 
<!-- @activelink -->
<li><a href="%link%" title="%name_value%"><b>%name_value% (%cat_items_count%)</b></a>
    <!-- @@nextlevel -->
<li><a href="%link%" title="%name_value%"><b>%name_value% (%cat_items_count%)</b></a>
<!-- @passiveactive -->
<li><a href="%link%" title="%name_value%"><b>%name_value% (%cat_items_count%)</b></a>
    <!-- @@nextlevel -->
<li><a href="%link%" title="%name_value%">%name_value% (%cat_items_count%)</a> 
<!-- @end -->
</li></ul><br style="clear: left" /></div>
    <!-- @@nextlevel -->
    </li></ul>
<!-- @delimiter -->
</li>