<!-- @begin -->
<ul>
    <!-- @@nextlevel -->
    <ul>
<!-- @link -->
<li><a href="%link%" title="%name_value%">%name_value%</a>
    <!-- @@nextlevel -->
<li><a href="%link%" title="%name_value%">%name_value%</a></li>
<!-- @activelink -->
<li><a class="active" href="%link%" title="%name_value%"><b>%name_value%</b></a>
    <!-- @@nextlevel -->
<li><a href="%link%" title="%name_value%"><b>%name_value%</b></a></li>
<!-- @passiveactive -->
<li><a class="active" href="%link%" title="%name_value%">%name_value%</a>
    <!-- @@nextlevel -->
<li><a href="%link%" title="%name_value%">%name_value%</a></li>
<!-- @end -->
</li></ul></p>
    <!-- @@nextlevel -->
    </ul></li>
<!-- @delimiter -->