<!-- @list -->
<div class="span5">	
<h4>Купите со скидкой по купону от %coupon_advcampaign_name%</h4>
<hr/>
%rows%
</div>	
<!-- @row -->
            <div> <img src="%coupon_logo%"/>
			  <button class="btn btn-inverse" onclick="window.open('%coupon_promolink%', 'target=_top');return false;">
&nbsp;&nbsp;&nbsp;Показать купон от %coupon_advcampaign_name%&nbsp;&nbsp;&nbsp;</button>
            </div>			
              <h4>%coupon_name% от %coupon_advcampaign_name%</h4>
			  <p>Дата окончания <b>%coupon_date_end%</b></p>
			  <p>%coupon_description%</p>
<hr/>

<!-- @list_null -->
<!-- Тут что-то, если купонов нет -->
