<!-- @begin -->
<div class="b-filterpanel__group">
<ul class="b-sidemenu">
    <!-- @@nextlevel -->
    <ul>
<!-- @link -->
<li><a href="%link%" title="%name_value%">%name_value%</a>
    <!-- @@nextlevel -->
<li><a href="%link%" title="%name_value%">%name_value%</a>
<!-- @activelink -->
<li class="-active"><a href="%link%" title="%name_value%">%name_value%</a><i></i>
    <!-- @@nextlevel -->
<li class="-active"><a href="%link%" title="%name_value%">%name_value%</a><i></i>
<!-- @passiveactive -->
<li class="-active -selected"><a href="%link%" title="%name_value%">%name_value%</a>
    <!-- @@nextlevel -->
<li class="-active -selected"><a href="%link%" title="%name_value%">%name_value%</a>
<!-- @end -->
</li></ul></div>
    <!-- @@nextlevel -->
    </li></ul>
<!-- @delimiter -->
</li>