<!-- @list -->
<h4 class="coupons-title">Купите со скидкой по купону от «%coupon_advcampaign_name%»</h4>

	<div class="coupon-wrapper">
    <div class="content">
      <ul class="coupon-listing">
        %rows%
      </ul>
    </div>
  </div>

  <!-- @row -->
  <li class="coupon-item">
  <div class="coupon-inner-wrapper">
    <div class="coupon-title clearfixin">%coupon_name% от %coupon_advcampaign_name%</div>
    <div class="clearfixin">
      <img class="act-float-left m-r-s m-b-s" src="%coupon_logo%"/><button class="uk-button coupon-go act-float-right" onclick="window.open('%coupon_promolink%', 'target=_top');return false;">Показать купон</button>
      <p>
      %coupon_description%</p>
      <p>Действует до: <b>%coupon_date_end%</b></p>
    </div>
  </div>
  </li>
<!-- @list_null -->