<!-- @list -->
<div class="b-pagename">Результаты поиска</div>
<div class="b-searchresult">
    <ul class="b-catalog-items group">
        %row%
    </ul>
</div>

%pages%


<!-- @list_null -->
<p>К сожалению, товар не найден.</p>

<!-- @row -->
<li>

    <a class="b-catalog-item" href="%link%" title="%name_value%">
        %picture%
        <div class="b-catalog-item__inner">
            %vendor%
            %name%
            %oldprice%
            %price%
        </div>
    </a>

</li>

<!-- @name -->
<div class="b-catalog-item__name"><a href="http://%host%/?goto=%item_id%">%name_value%</a></div>

<!-- @vendor -->
<div class="b-catalog-item__vendor"><span itemprop="brand"><a href="http://%host%/?goto=%item_id%">%vendor_value%</a></span></div>

<!-- @description -->
<div class="b-catalog-item__desc">%description_value%</div>

<!-- @price -->
<div class="b-catalog-item__price"><span itemprop="price">%price_value%</span> <span class="b-catalog-item__currency">руб.</span></div>

<!-- @oldprice -->
<div class="b-catalog-item__price -old"><span itemprop="price">%oldprice_value%</span> <span class="b-catalog-item__currency">руб.</span></div>

<!-- @picture -->
<div class="b-catalog-item__picture">
    <img itemprop="image" src="%picture_value%" alt="%name_value%" title="%name_value%" />
    <div class="b-catalog-item__zoom"><span>Подробнее</span></div>
</div>
  
<!-- @name_null -->

<!-- @description_null -->

<!-- @Cena_null -->

<!-- @picture_null -->

<!-- @row_delimeter -->

<!-- @pages -->
<div class="b-catalog__pagination">
    <ul>
        %first% %previous% %pages_block% %next% %last%
    </ul>
</div>


<!-- @page_first -->
<li><a href="%link%"><i class="fa fa-angle-double-left"></i></a></li>
<!-- @page_backward -->
<li><a href="%link%"><i class="fa fa-angle-left"></i></a></li>
<!-- @page_backward_disabled -->
<li class="disabled"><span><i class="fa fa-angle-left"></i></span></li>
<!-- @page_previous -->
<li><a href="%link%"><i class="fa fa-angle-left"></i></a></li>
<!-- @page_previous_disabled -->

<!-- @page_forward -->
<li><a href="%link%">page_forward</a></li>
<!-- @page_forward_disabled -->

<!-- @page_next -->
<li><a href="%link%"><i class="fa fa-angle-right"></i></a></li>
<!-- @page_next_disabled -->
<li class="disabled"><span><i class="fa fa-angle-right"></i></span></li>
<!-- @page_last -->
<li><a href="%link%"><i class="fa fa-angle-double-right"></i></a></li>
<!-- @page_active -->
<li><a href="%link%">%page%</a></li>
<!-- @page_passive -->
<li class="active"><span>%page%</span></li>
<!-- @page_delimeter -->
<!-- @page_null -->