<!-- @list -->
<div class="uk-panel">
	<h4 class="uk-panel-title">Скидки от &laquo;%coupon_advcampaign_name%&raquo;</h4>
	<div class="popup-scroller">
    <div class="content">
      <ul class="popup-listing">
        %rows%
      </ul>
    </div>
  </div>
</div>

  <!-- @row -->
  <li class="coupon-go" onclick="window.open('%coupon_promolink%', 'target=_top');return false;">
    %coupon_name% от %coupon_advcampaign_name%
    <span>Действует до: <b>%coupon_date_end%</b></span>
  </li>
<!-- @list_null -->
<p>Скидок и акций у магазина %coupon_advcampaign_name% в данный момент нет</p>
