<!-- @list -->

<div class="group">
	<ul class="b-catalog-items">
    %row%
  </ul>
</div>

<!-- @row -->
<li>

    <a class="b-catalog-item" href="%link%" title="%name_value%">
        %picture%
        <div class="b-catalog-item__inner">
            %vendor%
            %name%
            %oldprice%
            %price%
        </div>
    </a>

</li>
<!-- @description -->
<div class="b-catalog-item__desc">%description_value%</div>

<!-- @currencyId -->
%currencyId_value%

<!-- @price -->
<div class="b-catalog-item__price"><span itemprop="price">%price_value%</span> <span class="b-catalog-item__currency">руб.</span></div>

<!-- @oldprice -->
<div class="b-catalog-item__price -old"><span itemprop="price">%oldprice_value%</span> <span class="b-catalog-item__currency">руб.</span></div>

<!-- @picture -->
<div class="b-catalog-item__picture">
    <img itemprop="image" src="%picture_value%" alt="%name_value%" title="%name_value%" />
    <div class="b-catalog-item__zoom"><span>Увеличить</span></div>
</div>

<!-- @name -->
<div class="b-catalog-item__name">%name_value%</div><meta itemprop="name" content="%name_value%" >
