<!-- @list -->

<div class="b-category">
%category_name%
%category_description_cat%
</div>

<div class="group">
      
	<div class="grid_3">

        <div class="b-filterpanel">
            [#categories_left#]

            <form method="get" action="%current_page_url%" class="uk-form adm-product-filter">
                <input type="hidden" name="filterid" value="common">
                <input type="hidden" id="min_price" value="%min_price%">
                <input type="hidden" id="max_price" value="%max_price%">
                <input type="hidden" id="sortby" name="sort" value="%sortby%">
                <input type="hidden" id="sortorder" name="order" value="%sortorder%">

                <div class="b-filterpanel__group">
                    <div class="b-filterpanel__name">Цена</div>
                    <div class="b-filterpanel__rangeslider">
                        <div id="price-selector"></div>
                        <div class="group">
                            <div class="l-left">
                                <input type="text" name="pf" value="%pricefrom%" class="b-input">₽
                            </div>
                            <div class="l-right t-right">
                                <input type="text" name="pt" value="%priceto%" class="b-input">₽
                            </div>
                        </div>
                    </div>
                </div>
					
              <div class="b-filterpanel__group">
                <div class="b-filterpanel__group__search"><input class="b-input" type="text" placeholder="Поиск производителя" id="vendor-search"></div>
                <div id="vendor-list">

                    <ul id="vendor-names" class="b-filterlist">%vendorsdata%</ul>

                </div>
                <p id="vendor-backup" style="display:none"></p>
              </div>

              <div class="b-filterpanel__group">
                <div class="b-filterpanel__group__search"><input  class="b-input" placeholder="Поиск магазина" type="text" id="shops-search"></div>
                <div id="shops-list">

                    <ul id="shops-names" class="b-filterlist">%shopsdata%</ul>

                </div>
                <p id="shops-backup" style="display:none"></p>
              </div>

              <button class="b-btn" type="submit">Искать</button>
            </form>
		</div>
	</div>
	<div class="grid_9">

    <div class="group mb36">
      	<div class="l-right t-right">
          <select class="inputbox" id="selectsort">
            <option value="">Сортировать</option>
            <option data-sb="price" data-so="DESC" value="%current_page_url%sb=price&amp;so=DESC">Дороже &darr;</option>
            <option data-sb="price" data-so="ASC" value="%current_page_url%sb=price&amp;so=ASC">Дешевле &uarr;</option>
            <option data-sb="name" data-so="DESC" value="%current_page_url%sb=name&amp;so=ASC">По названию (А-Я)</option>
            <option data-sb="name" data-so="ASC" value="%current_page_url%sb=name&amp;so=DESC">По названию (Я-А)</option>
          </select>
        </div>
      </div>




      	<ul class="b-catalog-items group">
          %row%
        </ul>

    	%pages%


        %category_name_down%
        %category_description_cat_down%


  </div>

</div>

<!-- @category_name -->
<h1 class="b-category__title">%category_name_value%</h1>

<!-- @category_description_cat -->
<div class="b-category__description">
    %category_description_cat_value%
</div>

<!-- @category_name_down -->
<div class="b-category__title -down">%category_name_value%</div>

<!-- @category_description_cat_down -->
<div class="b-category__description">
    %category_description_cat_value%
</div>


<!-- @list_null --> 
<div class="act-units">
	<div class="act-unit-25 act-padding-right">      
[#categories_left#]      
	</div>
	<div class="act-unit-75">

        <h2>К сожалению, товар не найден</h2>
        <p>Если вы указали параметры поиска и товар не найден, <a href="#" onclick="history.back();return false;">вернитесь на предыдущую страницу</a></p>
      <p><a href="/">Главная страница</a></p>        
    </div>
 </div> 

<!-- @row -->
<li>

    <a class="b-catalog-item" href="%link%" title="%name_value%">
        %picture%
        <div class="b-catalog-item__inner">
            %vendor%
            %name%
            %oldprice%
            %price%
        </div>
    </a>

</li>

<!-- @description -->
<div class="b-catalog-item__desc">%description_value%</div>

<!-- @currencyId -->
%currencyId_value%

<!-- @price -->
<div class="b-catalog-item__price"><span itemprop="price">%price_value%</span> <span class="b-catalog-item__currency">руб.</span></div>

<!-- @oldprice -->
<div class="b-catalog-item__price -old"><span itemprop="price">%oldprice_value%</span> <span class="b-catalog-item__currency">руб.</span></div>

<!-- @picture -->
<div class="b-catalog-item__picture">
    <img itemprop="image" src="%picture_value%" alt="%name_value%" title="%name_value%" />
    <div class="b-catalog-item__zoom"><span>Подробнее</span></div>
</div>

<!-- @name -->
<div class="b-catalog-item__name"><a href="http://%host%/?goto=%item_id%">%name_value%</a></div>

<!-- @vendor -->
<div class="b-catalog-item__vendor"><span itemprop="brand"><a href="http://%host%/?goto=%item_id%">%vendor_value%</a></span></div>

<!-- @advcampaign_name -->
<div class="b-catalog-item__advcampaign">Магазин: %advcampaign_name_value%</div>

<!-- @name_null -->

<!-- @description_null -->

<!-- @Cena_null -->

<!-- @picture_null -->

<!-- @row_delimeter -->

<!-- @pages -->
<div class="b-catalog__pagination">
    <ul>
      %first% %previous% %pages_block% %next% %last%
    </ul>
</div>

<!-- @page_first -->
<li><a href="%link%"><i class="fa fa-angle-double-left"></i></a></li>
<!-- @page_backward -->
<li><a href="%link%"><i class="fa fa-angle-left"></i></a></li>
<!-- @page_backward_disabled -->
<li class="-disabled"><span><i class="fa fa-angle-left"></i></span></li>
<!-- @page_previous -->
<li><a href="%link%"><i class="fa fa-angle-left"></i></a></li>
<!-- @page_previous_disabled -->

<!-- @page_forward -->
<li><a href="%link%">page_forward</a></li>
<!-- @page_forward_disabled -->

<!-- @page_next -->
<li><a href="%link%"><i class="fa fa-angle-right"></i></a></li>
<!-- @page_next_disabled -->
<li class="-disabled"><span><i class="fa fa-angle-right"></i></span></li>
<!-- @page_last -->
<li><a href="%link%"><i class="fa fa-angle-double-right"></i></a></li>
<!-- @page_active -->
<li><a href="%link%">%page%</a></li>
<!-- @page_passive -->
<li class="-active"><span>%page%</span></li>
<!-- @page_delimeter -->
<!-- @page_null -->
