<!-- @item -->
<div class="b-product" itemscope itemtype="http://schema.org/Product">
  <div class="group mb36">

      <div class="grid_4">%picture%</div>
      <div class="grid_8">
        %name%
        %description%

        %price%
        <div class="mt18 mb36">
            <a class="b-product__btn" href="http://%host%/?goto=%item_id%" onclick="window.open('http://%host%/?goto=%item_id%', 'target=_blank');return false;"><i class="b-icon -basket"></i>Купить в магазине</a>
        </div>
        <div>
            Доставка по всей России<br/>
            Гарантия возврата товара <br/>
            Можно примерить перед покупкой
        </div>

      </div>
  </div>

  <div class="b-product_coupons-block">
    [#item-coupons#]
  </div>

</div>

<div class="b-product__tabs">

    <ul class="b-product__tabs-units group">
        <li class="-current"><span>Похожие товары</span></li>
        <li>%vendor%</li>
    </ul>

    <div class="b-product__tabs-panel">[#item-similar#]</div>

</div>




<!-- @currencyId -->
%currencyId_value%

<!-- @name -->
<div class="b-product__title"><h1 itemprop="name">%name_value%</h1></div>

<!-- @original_id -->
артикул: %original_id_value%

<!-- @description -->
<div class="b-product__description" itemprop="description">%description_value%</div>

<!-- @model -->
<h4>%model_value%</h4>

<!-- @advcampaign_name -->
Продавец: &laquo;<a title="Все товары магазина %advcampaign_name_value%" href="/catalog/search/?search=%advcampaign_name_value%">%advcampaign_name_value%</a>&raquo;

<!-- @price -->
<div class="b-catalog-item__price" itemprop="offers" itemscope itemtype="http://schema.org/Offer"><span itemprop="price">%price_value%</span> <span class="b-catalog-item__currency">руб.</span></div>

<!-- @oldprice -->
<div class="b-catalog-item__price -old"><span class="adm-old-price">%oldprice_value%</span> <span class="b-catalog-item__currency">руб.</span></div>


<!-- @picture -->
<div class="b-product__thumbnail group"><img class="" itemprop="image" src="%picture_value%" alt="%name_value%" title="%name_value%"/></div>


<!-- @category -->
<div class="b-product__description">Товар относится к %category_value%</div>


<!-- @vendor -->
<a title="Все товары бренда %vendor_value%" href="/catalog/search/?search=%vendor_value%" itemprop="manufacturer">Все товары %vendor_value%</a>

<!-- @name_null -->

<!-- @description_null -->

<!-- @Cena_null -->

<!-- @picture_null -->
<!-- @oldprice_null -->
<!-- @row_delimeter -->

<!-- @cat_way_block -->
<div class="item-description">Все %cat_way%</div>

<!-- @cat_way_separator -->
<i class="fa fa-angle-right"></i>

<!-- @cat_way_active -->
<b><a href="%cat_link%">%cat_name%</a></b>

<!-- @cat_way_passive -->
<a href="%cat_link%">%cat_name%</a>