<!-- @begin -->
<div class="side-block">
<ul class="side-nav">
<!-- @@nextlevel -->
				<ul>
<!-- @link -->
					<li><a href="%link%" title="%text%">%text%</a></li>
<!-- @@nextlevel -->
					</li><li><a href="%link%" title="%text%">%text%</a>
<!-- @@nextlevel -->
					</li><li><a href="%link%" title="%text%">%text%</a>
<!-- @@nextlevel -->
					</li><li><a href="%link%" title="%text%">%text%</a>
<!-- @activelink -->
					<li><a href="%link%" title="%text%">%text%</a></li>
<!-- @end -->
			</ul></div>
<!-- @@nextlevel -->
				</li></ul>