@charset "utf-8";


@mixin inner_color{
  .b-catalog-item:hover & {
    color:#000;
  }
}

$cat : '.b-catalog-items';

#{$cat} {
  padding:0;
  margin:0;

  li{

    display:block;
    float: left;
    width: 33.3333%;
    vertical-align: top;
    margin-bottom:36px;
  }
}

$cat : '.b-catalog-item';

#{$cat} {
  display: block;
  border-bottom:0 !important;
}

#{$cat}__inner{
  padding:9px;
}

#{$cat}__vendor{
  font-size:18px;
  font-weight:bold;
}

#{$cat}__name {
  @include inner_color;
}

#{$cat}__price{
  font-size:1.2em;
  font-weight:bold;
  @include inner_color();
}

#{$cat}__currency{
  font-size:1em;
  font-weight:normal;
  @include inner_color();
}

#{$cat}__picture {
  position: relative;
  height: 1%;
  margin-bottom: 9px;
  overflow:hidden;

  img {

    max-width: 100%;
    max-height: 100%;
    vertical-align: top;

    -webkit-transition: -webkit-transform .3s ease;
    -moz-transition: -moz-transform .3s ease;
    -ms-transition: -ms-transform .3s ease;
    -o-transition: -o-transform .3s ease;
    transition: transform .3s ease;

    -webkit-transform-origin:center 0;
    -moz-transform-origin: center 0;
    -ms-transform-origin: center 0;
    -o-transform-origin: center 0;
    transform-origin: center 0;

    .b-catalog-item:hover & {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);

    }
  }
}

#{$cat}__zoom{
  position: absolute;
  bottom:10px;
  left:0;
  width:100%;

  .b-catalog-item:hover & span {display:block;}

  span{
    display: none;
    padding:5px;
    text-align: center;
    background: #000;
    background: rgba(0, 0, 0, .8);
    color:#fff;

  }
}

$cat : '.b-category';

#{$cat}__title{
   font-size:24px;

  &.-down{font-size:21px;}

 }

#{$cat}__description{
  margin-bottom:18px;
}

$cat : '.b-catalog__pagination';

#{$cat} {
  margin-bottom:36px;

  ul {
    padding:0;
    margin:0;
  }

  li{
    display: inline-block;
    text-align:center;

    a {
      display: block;
      padding:2px 9px;
      border-bottom: 0;
    }

    &.-active{
      font-weight:bold;
      margin:0 10px;
    }
  }
}