<!-- @banner -->
<noindex>
<div class="t-a-c">
<form action="" target="_blank" method="GET">
<input type="hidden" name="id" value="%id%"/>
<a href="%link%" target="blank" title="%desc%">
<img src="%image%" alt="%desc%" title="%desc%" style="border: 0;" />
</a>
</form>
 </div>
</noindex>

<!-- @banner_kod -->
<noindex>
<div class="t-a-c">
%kod%
</div>
</noindex>

<!-- @banner_swf -->
<noindex>
<div class="t-a-c">
<form action="" target="_blank" method="GET">
<a style="position: absolute; width:250px; height:250px" href="%link%" class="flash-link" target="_blank"></a>
<object codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553525000" align="middle" height="250" width="250">
					  <param value="sameDomain" name="allowScriptAccess">
					  <param value="false" name="allowFullScreen">
					  <param value="transparent" name="wmode">
					  <param value="%image%" name="movie">
					  <param value="high" name="quality">
					  <embed pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowfullscreen="false" allowscriptaccess="sameDomain" name="flag" wmode="transparent" src="%image%" align="middle" height="250" width="250">
				</object>
</form>
</div>
</noindex>
<!-- @banner_null -->


