<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="ie7 lt-ie9 lt-ie8" lang="ru-RU"><![endif]-->
<!--[if IE 8 ]>    <html class="ie8 lt-ie9" lang="ru-RU"><![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="ru-RU"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="ru-RU"><!--<![endif]-->
<head>
<title>[#title#]</title>

<meta name="description" content="[#description#]" />
<meta name="keywords" content="[#keywords#]" />

<link rel="stylesheet" href="/templates/1/css/grid.css" type="text/css" />
<link rel="stylesheet" href="/templates/1/css/style.css" type="text/css" />
<link href="/templates/1/images/favicon.ico" rel="icon" type="x-icon" />

<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="/templates/1/js/lib/modernizr.js" type="text/javascript"></script>
<script src="/templates/1/js/main.js" type="text/javascript"></script>
    <!--
    <link rel="stylesheet" href="/templates/1/css/lib/jmenu.css" type="text/css"    <!--
    <script type="text/javascript" src="/templates/1/js/lib/jmenu.min.js"></script>
    <script type="text/javascript">
    $(function(){
        $('#menu > ul').jMenu({
            ulWidth : 'auto',
            effects : {
                effectTypeOpen : 'fade',
                effectSpeedOpen : 200
            }
        });
    })
    </script>
    -->



<link rel="stylesheet" href="/templates/1/css/menu.css" type="text/css"/>
<script type="text/javascript" src="/templates/1/js/menu.js"></script>
<script type="text/javascript">$(function(){new rs.menu();});</script>

<link rel="stylesheet" href="/templates/1/css/slider.css" type="text/css"/>
<script src="/templates/1/js/lib/jquery.slides.min.js" type="text/javascript"></script>

</head>
<body>
<div id="wrapper" class="wrapper">
	<header id="header" class="group">
        <div id="logo" class="grid_3 pt18">
            <a href="/" title=""><img src="/templates/1/images/logo.png" width="122" height="83" alt="Razomshop – вся одежда в одном магазине"/></a>
        </div>
        <div class="grid_4 pt36">
            <div>Вся одежда в одном магазине</div>
            <form class="b-search mt9" action="/catalog/search/">
                <input class="b-search__inp" type="text" name="search" placeholder="Название товара" />
                <input class="b-search__submit" type="submit" value="Искать" />
            </form>
        </div>
        <div class="grid_2 push_1 pt36">
            <i class="b-icon -delivery"></i>Доставка по всей России
        </div>
        <div class="grid_2 push_1 pt36">
            <i class="b-icon -warranty"></i>Гарантия возврата 365&nbsp;дней
        </div>
	</header>

	<section id="middle">

        [#categories_cat_top#]

        <h1 class="b-header -fst -sml">
            Выбирайте одежду и обувь из общего ассортимента<br/>нескольких онлайн-магазинов.
            Приятных покупок.
        </h1>

        <div class="b-slider__container">
            <div id="slider" class="b-slider">
                <a class="b-slider__item" href="#"><img width="960" src="http://slidesjs.com/examples/standard/img/example-slide-1.jpg" alt="Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/"></a>
                <a class="b-slider__item" href="#"><img width="960" src="http://slidesjs.com/examples/standard/img/example-slide-2.jpg" alt="Photo by: Daniel Parks Link: http://www.flickr.com/photos/parksdh/5227623068/"></a>
                <a class="b-slider__item" href="#"><img width="960" src="http://slidesjs.com/examples/standard/img/example-slide-3.jpg" alt="Photo by: Mike Ranweiler Link: http://www.flickr.com/photos/27874907@N04/4833059991/"></a>
                <a class="b-slider__item" href="#"><img width="960" src="http://slidesjs.com/examples/standard/img/example-slide-4.jpg" alt="Photo by: Stuart SeegerLink: http://www.flickr.com/photos/stuseeger/97577796/"></a>
                <a href="#" class="slidesjs-previous slidesjs-navigation"></a>
                <a href="#" class="slidesjs-next slidesjs-navigation"></a>
            </div>
        </div>

        <script type="text/javascript">
            $(function() {
                var
                    slider = $('#slider')
                    ,nav
                ;

                slider.slidesjs({
                    width: 960,
                    height: 528,
                    navigation: false,
                    play: {
                        active: false,
                        interval: 5000,
                        auto: true,
                        pauseOnHover: false,
                        restartDelay: 2500
                    }
                });

                nav = slider.find('.slidesjs-pagination');
                nav.css({
                    marginLeft: (-1) * 0.5 * nav.width()
                });
            });
        </script>

        <article id="content">

            <h2 class="b-header -upper"><a href="#">Каталог одежды и обуви</a></h2>

            <div class="group">
                <div class="grid_4">
                    <a class="b-teaser" href="#">
                        <div class="b-teaser__body">
                            <div style="color:#000;font-size:32px;"><b>Модная одежда на&nbsp;каждый день</b></div>
                        </div>
                        <div class="b-teaser__name">Скидки</div>
                        <img class="b-teaser__img" src="http://images.wildberries.ru/large/new/1550000/1552079-1.jpg" />
                    </a>
                </div>
                <div class="grid_4">
                    <a class="b-teaser" href="#">
                        <div class="b-teaser__body">

                        </div>
                        <div class="b-teaser__name">Скидки</div>
                        <img class="b-teaser__img" src="http://upload.fott.ru/upload/magazine/preview/b15/370_370_4.jpg" />
                    </a>
                </div>
                <div class="grid_4">
                    <a class="b-teaser" href="#">
                        <div class="b-teaser__body">

                        </div>
                        <div class="b-teaser__name">Новинки</div>
                        <img class="b-teaser__img" src="http://www.trendsbrands.ru/upload/images/a47/amAp_sm.jpg" />
                    </a>
                </div>

                <div class="grid_4">
                    <a class="b-teaser" href="#">
                        <div class="b-teaser__body">

                        </div>
                        <div class="b-teaser__name">Летние вещи</div>
                        <img class="b-teaser__img" src="http://images.wildberries.ru/large/new/1330000/1332803-1.jpg" />
                    </a>
                </div>
                <div class="grid_4">
                    <a class="b-teaser" href="#">
                        <div class="b-teaser__body">

                        </div>
                        <div class="b-teaser__name">Спецпредложение Calvin&nbsp;Klein</div>
                        <img class="b-teaser__img" src="http://explore.calvinklein.com/images/explore/ckplatinumlabel/home/Slivers/lookbooks/LOOKBOOKS/F14%20Men's%20Lookbook/f14_platinum_m_lkbk_204x485-2.jpg" />
                    </a>
                </div>
                <div class="grid_4">
                    <a class="b-teaser" href="#">
                        <div class="b-teaser__body">

                        </div>
                        <div class="b-teaser__name">Собираемся в отпуск</div>
                        <img class="b-teaser__img" src="templates/1/images/teasers/kup.png" />
                    </a>
                </div>
            </div>

            <h2 class="b-header -upper"><a href="#">Бренды одежды и обуви</a></h2>

            <div class="b-slider__container mb72">
                <div id="slider-brands" class="b-slider -brands">

                    <div>
                        <table>
                            <tr>
                                <td><a class="b-slider__item" href="#"><img src="templates/1/images/brands/levis.png" /></a></td>
                                <td><a class="b-slider__item" href="#"><img src="templates/1/images/brands/lacoste.png" /></a></td>
                                <td><a class="b-slider__item" href="#"><img src="templates/1/images/brands/gant.png" /></a></td>
                                <td><a class="b-slider__item" href="#"><img src="templates/1/images/brands/selected.png" /></a></td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table>
                            <tr>
                                <td><a class="b-slider__item" href="#"><img src="templates/1/images/brands/levis.png" /></a></td>
                                <td><a class="b-slider__item" href="#"><img src="templates/1/images/brands/lacoste.png" /></a></td>
                                <td><a class="b-slider__item" href="#"><img src="templates/1/images/brands/gant.png" /></a></td>
                                <td><a class="b-slider__item" href="#"><img src="templates/1/images/brands/selected.png" /></a></td>
                            </tr>
                        </table>
                    </div>
                    <a href="#" class="slidesjs-previous slidesjs-navigation"></a>
                    <a href="#" class="slidesjs-next slidesjs-navigation"></a>
                </div>
            </div>
            <script type="text/javascript">
                $(function(){
                    $('#slider-brands').slidesjs({
                        width: 960,
                        height: 80,
                        navigation: false,
                        pagination: false
                    });
                });
            </script>
        </article>
	</section>

    <footer id="footer">
        <div class="row b-footer__menu">
            <div class="grid_3 alpha">
                <div class="b-footer__head"><a href="#">Женская одежда</a></div>
                <ul>
                    <li><a href="#">Верхняя одежда</a></li>
                    <li><a href="#">Блузки</a></li>
                    <li><a href="#">джинсы</a></li>
                </ul>
            </div>
            <div class="grid_3">
                <div class="b-footer__head"><a href="#">Мужская одежда</a></div>
                <ul>
                    <li><a href="#">Верхняя одежда</a></li>
                    <li><a href="#">Обувь</a></li>
                    <li><a href="#">Джинсы</a></li>
                </ul>
            </div>
            <div class="grid_3"></div>
        </div>
        <div class="row">
            <div class="f-left">Razomshop. Вся одежда в одном магазине.</div>
            <div class="f-right"><p align="right">На платформе <a href="http://www.cpasoft.ru">CPASoft.Ru</a></div>
        </div>


    </footer>



</div>
</body>
</html>