<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>[#title#]</title>
  <meta name="description" content="[#description#]" />
  <meta name="keywords" content="[#keywords#]" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/templates/default-item/css/bundle.css">
	<script type="text/javascript" src="//vk.com/js/api/openapi.js?108"></script>
</head>
<body>
  <div class="body-container remodal-bg">
    <header class="body-block">
    	<div class="top-row">
      	<div class="main-width">
        	<div class="top-navigation">
						[#menu_top#]
          </div>
        </div>
      </div>
      
     	<div class="main-width">
        <div class="act-units">
        	<div class="act-unit-30"><a href="/"><img src="http://placehold.it/240x74" width="240" height="74" alt=""> <!--<img src="/assets/dist/images/logo.png" width="240" height="74" alt="">--> </a></div>
        	<div class="act-unit-70 t-a-r">
          	<div class="header-s"> <img src="http://placehold.it/647x57" width="647" height="57" alt=""> <!--<img src="/assets/dist/images/header-s.png" width="647" height="57" alt="">--> </div>

            <form class="act-form t-a-r search-form" action="/catalog/search/">
                <input id="search" type="text" name="search" class="act-text-input act-width-70" placeholder="Название товара...">
                <button id="submit" type="submit" class="search-submit"><i class="fa fa-search"></i></button>
            </form>


          </div>
        </div>
        
      	<nav class="global-navigation">
           [#categories_cat_top#]
        </nav>
				
        [#grid#]
      
      </div>

    
    </header><!-- end header -->
    
    <div class="body-block body-push">
			<div class="main-width">
 
        
[#content1#]
[#content2#]
        
        
<div class="act-units">



	
</div>
        [#content-bottom#]

<div class="bottom-navigation">
<div class="act-units m-t-s m-b-s">
  <div class="act-unit-40"><span class="footer-title">Партнеры</span>
  <i class="footer__partner footer__partner_miles-and-more" title="Накапливайте премиальные мили Miles"></i>
  <i class="footer__partner footer__partner_sberthanks" title="Спасибо от Сбербанка"></i>
  <i class="footer__partner footer__partner_mnogo" title="Mnogo.ru"></i><br>
    <i class="footer__partner footer__partner_nike" title="Nike"></i>
</div>
    
    <div class="act-unit-30">
      <div class="footer-title">Способы оплаты</div>
      <div class="footer__pay-info">Вы можете оплатить покупки<br>
        наличными при получении, либо<br>
        выбрать другой способ оплаты:</div>
      <i class="footer__pay-system footer__pay-system_mastercard" title="Mastercard"></i>
      <i class="footer__pay-system footer__pay-system_visa" title="VISA"></i>
      <i class="footer__pay-system footer__pay-system_qiwi" title="Qiwi"></i>
      <i class="footer__pay-system footer__pay-system_paypal" title="PayPal"></i>
      </div>

    <div class="act-unit-30">
      <div class="footer-title">Большой выбор товаров</div>
      <div class="footer__phone-app"> В интернет-магазине каждый может выбрать <br/>и купить в 2 клика.</div>
    </div>      
      
      </div>
</div>
      
      </div>
    </div><!-- end content -->
    
    <footer class="body-block">

        [#banner_footer#]

      <div class="footer-copyrights">
        <div class="main-width">
          <div class="bottom-navigation">
            [#menu_footer#]
          </div>
          <div class="site-copyrights">
  
            <div class="act-units">
              <div class="act-unit-40">
              Copyright &copy; <script language="javascript" type="text/javascript">
	                      <!--
                          var d = new Date();
                          document.write(" " + d.getFullYear() + "");
                          //-->
	                       </script> все права защищены.
              </div>
              <div class="act-unit-40">
                <!--LiveInternet counter-->
                <img src="http://placehold.it/31x31" width="31" height="31" alt="li">
                <!--/LiveInternet-->
              </div>
              <div class="act-unit-20">
              AdCMS <a href="http://www.cpasoft.ru" target="_blank">www.cpasoft.ru</a>
              </div>
            
            </div>
  
          </div>
        
        </div>
      </div>
    </footer><!-- end footer -->
    
  </div><!-- end body-container -->  
  
  

<script src="//code.jquery.com/jquery-1.9.1.min.js"></script> 
<script src="/templates/default-item/js/bundle.js"></script>   
<div id="si-preview" class="uk-modal item-preview-box"><div class="uk-modal-dialog uk-modal-dialog-frameless uk-modal-dialog-large"><a class="uk-modal-close uk-close uk-close-alt"></a><div class="si-preview-body"></div></div></div>
  
</body>
</html>